<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> ALL CARS</title>
</head>
<body>
<h1>List of Cars</h1>
<div>
    <table border="1">
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Speed</th>
        </tr>
        <tr th:each="cars : ${cars}">
        <td th:text="${cars.getModel()}"></td>
            <td th:text="${cars.getColor()}"></td>
            <td th:text="${cars.getSpeed()}"></td>
        </tr>
    </table>
</div>
</body>
</html>